<h1>Listing notes</h1>
<div id='search'>
<%= form_tag search_notes_path, :method => "get", :class => "form-inline", :role => "search" do %>
    <div class="form-group">
      <%= text_field_tag :keywords, @keywords, :class => "form-control" %>
    </div>
    <%= submit_tag "Search", :class => "btn btn-default" %>
  <% end %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <% if user_signed_in? %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render @notes %>
  </tbody>
</table>
<%= paginate @notes %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Note', new_note_path, :class => "btn btn-default btn-lg" %>
<% end %>

